
/*------------------------------------
		3.1 Header Style 1
----------------------------------*/
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
	height: 90px;
	.main-menu {
	ul {
		background: rgba(10, 10, 10, 0.2);
		  margin: 0;
		  padding: 5px;
		  @include border-radius(40px);
		  @include transition(0.4s);
		  position: relative;
		li {
			
			display: inline-block;
			padding: 0;
			position: relative;

			  &.menu-item-has-children{
				ul{
					padding: 0px;
					display: grid !important;
					grid-template-columns: repeat(3, 1fr);
					&.style_1{
						grid-template-columns: repeat(1, 1fr)
					}
					
					@include border-radius(0px);
					a{
						@include border-radius(0px);
					}
				}
				a{
					padding-right: 30px;
					

				}
				&::after{
				content: "\f107";
				font-family: "FontAwesome";
				position: absolute;
				top: 50%;
				color: $white;
				display: inline-block;
				@include transformY(-50%);
				right: 10px;
				@include transition(0.4s);
				@include md {
					font-size: 12px;
				}
				
			}
			&:hover{
                &::after{
					margin-top: -10px;
                color: $primary;
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
              }
    }

			  }
			  @media (max-width: 1660px){
				  margin: 0 5px;

			  }
			  @media (max-width: 1399px){
				  margin: 0 0;

			  }
			
			
			
			&.active,
			&.current-menu-ancestor {
			  position: relative;
			}
			&.dropdown {
			  > a {
				padding-right: 30px !important;
	  
				&:before {
				  visibility: visible;
				}
			  }
			  .dropdown {
				> a {
				  &:before {
					visibility: visible;
					right: 15px;
					transform: rotate(-90deg);
					margin-top: -4px;
				  }
				}
			  }
			}
	  
			ul {
			  &.submenu {
				li {
				  &.active {
					> a {
					  position: relative;
					  z-index: 2;
					}
				  }
				}
			  }
			}
			a {
			  display: block;
			  padding: 9px 13px;
			  @include border-radius(30px);
			  text-decoration: none;
			  text-transform: capitalize;
			  @include transition(0.4s);
			  position: relative;
			  font-family: $inter-font;
			  font-size: 16px;
			  font-weight: 500;
			  color: $white;
			  @include md {
				font-size: 12px;
				padding: 4px 5px;
			  }
			  &:hover{
				background-color: $white;
				color: $text_color;
				}
				&.active{
					background-color: $white;
					color: $text_color;
				}

			
			  
			  &:before {
				position: absolute;
				content: "\f107";
				font-family: "Font Awesome 6 Pro";
				display: inline-block;
				padding: 3px;
				font-size: 14px;
				top: 50%;
				right: 6px;
				line-height: 0;
				visibility: hidden;
			  }
			}

		
			&:hover {
			  > ul {
				visibility: visible;
				transition: all 300ms ease;
				opacity: 1;
				transform: scaleY(1);
			  }
			}
			ul {
			  li {
				&:hover {
				  ul {
					visibility: visible;
					top: -2px;
				  }
				}
			  }
			}
		  }
		  ul {
			left: 0;
			opacity: 0;
			position: absolute;
			text-align: left;
			top: 100%;
			visibility: hidden;
			z-index: 99999;
			transition: all 300ms ease;
			box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
			transform-origin: top;
			background-color:$white;
			transform: scaleY(0);
	  
			li {
			  float: none;
			  min-width: 210px;
			  margin: 0;
			  i {
				float: right;
			  }
	  
			  > a {
				line-height: 120%;
				padding: 10px 20px;
				color: $text_color;
				border-bottom: 1px solid #E3E3E3;
				margin-left: 0;
				font-size: 16px;
				font-family:  $inter-font;
				@include transition(0.4s);
				&:hover {
				  background-color: $primary !important;
				  color: #fff !important;
				}
			  }
			  &:last-child a {
				border-bottom: 0px;
			  }
			}
		  }
		}
	  }
	&.style_1{
		.main-menu{
			ul{
				background: rgba(3, 26, 38, 0.1);
				li{
					ul{
						background-color: $white;
						
					}
					a{
						color: $text_color !important;
					}
					&::after{
						color: $text_color;
					}
				}
			}
		}
	}
}
header{
	min-height: 90px !important;
	z-index: 999;
	position: relative;
	
}

.header-1{
	width: 100%;
	z-index: 999;
	height: 90px;
	margin-top: 7px;
	@include xxxl {
		padding: 0 10px;
	}
	@include md {
		padding: 0 8px;
	}
	@include nesthub{
		height: 80px;
	}
	@include md{
		height: 60px;
	}
	@include sm{
		padding: 0px 12px;
		height: 87px;
	}
	
	.header-wrap{
		height: 90px;
		@include nesthub{
			height: 80px;
		}
		@include md{
			height: 60px;
		}
		@include sm{
			height: 87px;
		}
		
		.logo{
			.primary-logo {
				img {
					@include md {
						max-width: 80%;
					}
					@include xs {
						max-width: 100%;
					}
				}
			}
			.sticky-logo{
				display: none;
			}
		}
		.main-menu-wrap {
			@include md {
				margin-right: 25px;
			}
		}
		.header-right{
			display: flex;
			align-items: center;
			gap: 20px;
			
			.nice-select {
				box-sizing: border-box;
				clear: both;
				cursor: pointer;
				display: block;
				float: left;
				outline: none;
				position: relative;
				text-align: left !important;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				white-space: nowrap;
				-webkit-tap-highlight-color: transparent;
				padding-left: 18px;
				padding-right: 30px;
				border: 1px solid rgba(3, 26, 38, 0.14);
				color: $text_color;
				font-family: $inter-font;
				border-radius: 100px;
				font-weight: 600;
				font-size: 15px;
				line-height: 38px;
				
				width: 70px;
				height: 38px;
				&::after{
					border-color: $text_color;
				}
				&.current{
					color: $text_color !important;
				}
				&.list{
					background-color: $primary !important;
				}
			}
			.login_signup_area{
				@include flex(row, space-between, center);
				gap: 20px;
				.sign_up_user{
					a{
						padding: 15px 23px;
						font-family: $inter-font;
						font-weight: 600;
						font-size: 16px;
						color: $text_color;
						@include border-radius(30px);
						background-color: $white;
						span{
							margin-right: 8px;
						}
						@include xl {
							padding: 15px 16px;
						}
						@include md {
							padding: 10px 15px;
							font-size: 14px;
						}
						&:hover{
							color: $primary;
							background-color: $white;
						}
					}
					&:first-child {
						a {
							background-color: inherit;
							&:hover{
								color: $primary;
								background-color: $white;
							}
						}
					}
					&.active{
						background-color: $white;

					}
					
				}
			}
			@media (max-width: 580px){
				.btn_wrapper{
					display: none;
				}
			}
			.offcanvas-bar{
				background-color: transparent;
				border: none;
				@media (max-width:767px){
					display: block !important;
				}
				span{
					color: #000;
					font-size: 22px;
					border: 1px solid #000;
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
				}
			}
		}
	}

}

//>>>>> Sticky Start <<<<</
.sticky_top {
	        width: 100%;
            position: fixed;
            top: 0px;
            margin: auto;
            animation: slideDown 2s ease forwards;
            background-color: #fffdfd;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
			 transition: top 0.5s ease-in-out;
	&.header-1{
 		.header-wrap{
			margin-top: 0;
			@media (max-width: 1200px){
				padding: 14px 0;
			}
			@media (max-width: 991px){
				padding: 9px 0;
			}
			@include xs{
				padding: 12px 0;
			}
			.logo{
				.primary-logo{
					display: none;
				}
				.sticky-logo{
					display: block;
					img {
						@include md {
							max-width: 80%;
					}
				}
				}
			}
			.main-menu {
			 	ul {
					background-color: transparent;
					border: 1px solid $border;
					li {
					&.menu-item-has-children{

					&::after{
						color: $text_color !important;
						
					}
					@include transition(0.4s);
					&:hover{
						&::after{
							color: $primary !important;

						}
					}
					ul{
						padding: 0px;
						background-color: $white;
						
						@include flex(column, flex-start, flex-start);
						flex-wrap: wrap;
						@include border-radius(0px);
						a{
							@include border-radius(0px);
						}
					}
					a{
						padding-right: 30px;
						

					}
					&::after{
						content: "\f107";
						font-family: "FontAwesome";
						position: absolute;
						top: 50%;
						color: $white;
						display: inline-block;
						@include transformY(-50%);
						right: 10px;
						@include transition(0.4s);
						
					}
					&:hover{
						&::after{
							margin-top: -10px;
						color: $primary;
						transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						-moz-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						-o-transform: rotate(180deg);
					}
    				}

			  	}
					a {
					  padding: 9px 13px;
					  color: $text_color;
						@include md {
							font-size: 12px;
							padding: 4px 5px;
						}
					  &:hover{
						color: $primary;
					  }
					&.active{
						color: $primary;
						&:hover{
							color: $primary;
						}
					}
					}
				  }
				}
			}
		}
	}
	.login_signup_area{
				.sign_up_user{
					a{
						background-color: transparent;
						border: 1px solid $border;
						&:hover{
							color: $primary;
							background-color: $white;
						}
					}
					&.style_1 {
						a {
							border: none;
						}
					}
					&.active{
						background-color: $white;

					}
					
				}
			}

}

 
       
        